body.bg-image {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url(/assets/imgs/cep-point.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
}

.main-container {
    margin-top: 3.5rem;
}

h1 {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.bi.bi-search {
    color: #11683f;
    font-size: 3.5rem;
}

.form-wapper {
    margin-top: 1.625rem;
}

form {
    display: flex;
    row-gap: 1rem;
}

small {
    font-size: .825rem;
}

.form-error.ativo {
    color: rgb(221, 21, 21);
    font-weight: 500;
}

footer {
    display: flex;
    gap: .325rem;
    justify-content: center;
    margin: 3rem auto 0;
}

footer p {
    font-size: .9rem;
    color: #4e4e4e;
}

footer a {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: 600;
}

footer a:hover {
    color: #058d27;
}

@media (max-width: 766px) {
    body.bg-image {
        background-image: url(/assets/imgs/backgroud-phone-point.png);
        background-attachment: fixed;
        background-size: contain;
    }
}